body {
    /* corpo*/

    background: rgb(133, 206, 235);
    font: normal 15pt Arial;

}

header {
    /* Cabeçalho*/
    color: white;
    text-align: center;
}

section {
    /* Sessão*/
    background: white;
    border-radius: 10pt;
    padding: 15px;
    width: auto;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.322);
}

div {
    /* elemento de divisão*/
    text-align: center;
    padding: 9px;
}

footer {
    /* roda pé*/
    color: white;
    text-align: center;
    font-style: italic;
}