body {
    /* corpo*/

    background: rgb(93, 228, 105);
    font: normal 15pt Arial;

}

header {
    /* Cabeçalho*/
    color: rgb(235, 255, 227);
    text-align: center;
}

section {
    /* Sessão*/
    background: rgba(255, 255, 255, 0.568);
    border-radius: 35pt;
    /* borda*/
    padding: 15px;
    width: auto;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.514);
}

div {
    /* elemento de divisão*/
    text-align: center;
    padding: 9px;
}

footer {
    /* roda pé*/
    color: rgba(78, 139, 54, 0.979);
    text-align: center;
    font-style: italic;
}